<div id="carousel">
	<% pages.forEach(function(page){ %>
		<div 
			class="carousel-slide" 
			id="c-slide-<%= page %>"
			media-srcset=""
			style="background-image: url(./tmp/images/slides/slide-prev-<%= page %>.png) no-repeat center center fixed">	
		</div>
	<% }) %>
</div>