<div id="carousel">
	<svg class="svgs">
  	<filter id="blur">
    	<feGaussianBlur stdDeviation="3"></feGaussianBlur>
  	</filter>
	</svg>
	<% pages.forEach(function(page){ %>
		<div 
			class="carousel-slide" 
			id="c-slide-<%= page %>"
			media-srcset=""
			style="background-image: url(./tmp/images/slides/slide-prev-<%= page %>.png)">	
		</div>
	<% }) %>
</div>