@import "menu/menu.css";
@import "lang-selector/lang.css";

aside#aside{
	
}

aside #facebook{
  position: relative;
  top: 50%;
  left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	fill: #111835;
}


@supports (display: -webkit-grid) or
	          (display: -moz-grid) or
	          (display: grid) {
				
	aside#aside{
		//display: grid;
	}	
}