<section id="intro" class="">
    <main>
        <div class="intro-header">
            <div class="intro-logo">
                <%- include('./../ts/components/logo/logo.template.ejs'); %>
            </div>
            <h1>CIRCUITO de<br>WINDSURF<br> <span>GALEGO</span></h1>
        </div>
        <p class="gl">
            O Circuíto de Windsurf Galego / <strong>CWG</strong>, é un proxecto que nace da unión e ilusión dun grupo de persoas que pertencen a diferentes clubs de Windsurf en Galicia e con ganas de que se celebren competiciónsde Slalom e Ondas na nosa terra.
            <br>
            <br> A idea é organizar entre 3 e 4 probas de Ondas en diferentes Spots e elaborar un ránking coa suma dos puntos obtidos en todas para que a final de ano haxa uncampión de Windsurf en Ondas. Da mesma maneira ocorrería na categoría deSlalom. É o primeiro ano que o poñemos en marcha, co tempo, poderiamos sumar máis probas.
            <br>
            <br> Cada club tentará organizar unha proba de cada modalidade na súa zona. Por exemplo o Club Ferrolvento organiza unha proba de Slalom en Caranza enconxunto con outras probas de Raceboard e Fórmula dentro do Ferrol Windsurf Festival. Windsurf Galicia organizará unha proba de ondas na Lanzada. Por último o club Catro Ventos organiza unha proba de Slalom en Furnas e unha de Ondas en O Castro . Secret Spot? Si! Tamén pode haber unha sorpresa.
        </p>
        <p class="es">
            El Circuito de Windsurf Galego / <strong>CWG</strong>, es un proyecto que nace de la unión e ilusión de un grupo de personas que pertenecen a diferentes clubs de Windsurf en Galicia y con ganas de que se celebren competiciones de Slalom y Olas en nuestra tierra.
            <br>
            <br> La idea es organizar entre 3 y 4 pruebas de Olas en diferentes Spots y elaborar un ranking con la suma de los puntos obtenidos en todas para que a final de año haya un campeón de Windsurf en Olas. De la misma manera ocurriría en la categoría de Slalom. Es el primer año que lo ponemos en marcha, con el tiempo, podríamos sumar más pruebas.
            <br>
            <br> Cada club intentará organizar una prueba de cada modalidad en su zona. Por ejemplo el Club Ferrolvento organiza una prueba de Slalom en Caranza en conjunto con otras pruebas de Raceboard y Fórmula dentro del Ferrol Windsurf Festival. Windsurf Galicia organizará una prueba de olas en A Lanzada. Por último el club Catro Ventos organiza una pruba de Olas en O Castro y una de Slalom en Furnas. Secret Spot? Si! También puede haber una sorpresa.
        </p>
    </main>
</section>