<section id="eventos" class="">
    <h3>EVENTOS</h3>
    <div id="event-cards">
        <div class="event-cards-wrapper">
            <a href="https://ferrolvento.com/">
                <span class="event-cards-container">
                    <span>FERROL</span>
                    <span class="event-card-type">SLALOM / WAVE</span>
                </span>
                </a>
        </div>
        <div class="event-cards-wrapper">
            <span class="event-cards-container">
                    <span>O CASTRO / FURNAS</span>
            <span class="event-card-type">SLALOM / WAVE</span>
            </span>
        </div>
        <div class="event-cards-wrapper">
            <span class="event-cards-container">
                    <span>A LANZADA</span>
            <span class="event-card-type">WAVE</span>
            </span>
        </div>
        <div class="event-cards-wrapper">
            <span class="event-cards-container">
                    <span>SECRET</span>
            <span class="event-card-type">SLALOM / WAVE</span>
            </span>
        </div>
    </div>
</section>