<section id="normas" class="">
    <h3>NORMAS</h3>
    <p class="gl">
        No Circuíto de Windsurf Galego calquera evento das súas dúas modalidades pode ser convocada ao longo do ano sempre que os organizadores da proba consideren que as condicións son as adecuadas. Nunca se convocarán dúas probas da mesma modalidade no mesmo fin de semana.
        <br>
        <br> A duracióndas probas poderá variar segundo estime a organización en función do número de asitentes ou da previsión meteorolóxica. Serán sempre na Fin de semana, a determinar pola organización se a un ou dous días.
        <br>
        <br> Permítese a participación de persoas de fóra de Galicia, quedando estas fóra do ranking Galego. A organización de cada evento poderá esixir levar a publicidade dos patrocinadores do evento na vela.
        <br>
        <br>
    </p>
    <div class="gl convocatoria">
        <strong>Convocatoria</strong>
        <div>
            <div>
                Alerta 1 - Agardando, polo de agora non navegamos...
            </div>
            <div class="status-tag desktop ready alert-1">
                <span class="loader"></span>
                <a href="#eventos">
                    <span class="tag-number">1</span>
                </a>
            </div>
        </div>
        <div>
            <div>
                    Alerta 2 - Cada Luns con parte prometedor para o fin de semana, poñémonos en Alerta 2 e estaremos ollando á evolución da previsión.
            </div>
            <div class="status-tag desktop ready alert-2">
                <a href="#eventos">
                    <span class="tag-number">2</span>
                </a>
                <a href="#eventos">
                    <div class="status-exta-info">Evento convocado. Esta fin de semana navegamos!!!</div>
                </a>
            </div>
        </div>
        <div>
            <div>
                    Alerta 3 - Os Xoves e con en Alerta 2 comunícase antes das 22:00 se se procede á convocatoria. A decisión final comunícase a través de redes sociais e sitio web.
            </div>
            <div class="status-tag desktop ready alert-3">
                <a href="#eventos">
                    <span class="tag-number">3</span>
                </a>
                <a href="#eventos">
                    <div class="status-exta-info">Parece que algo se está a preparar. Ollo ao parte!</div>
                </a>
            </div>
        </div>
    </div>
    <p class="gl">
        <strong>Formato de competición</strong>
        <br>
        <b>Ondas</b>
        <br> Haberá un xefe de xuices e un mínimo de 3 xuices por proba, sendo estes determinados pola organización e cun máximo de 6 xuices, chengando a ter un xuiz por participante e manga se a organización o considera oportuno.
        <br>
        <br> 1. O tempo e o numero de participantes por manga o decidirá a organización en función do número de participantes, establecendo un máximo de 6 participantes e un tempo inicial de 15 minutos.
        <br> 2. Farase unha repesca despois das primeiras rondas, para que todos podan participar polo menos en dúas mangas e teñan máis posibilidades de chegar aos cuartos de final.
        <br> 3. Darase o aviso acústico e visual ao comezo e final de cada manga. Os participantes da seguinte ronda han de estar en terra e preparados para axilizar a competición.
        <br>
        <b>*</b> Descartes: Só haberá descartes no caso de celebrarse as catro probas dentro do ano actual, descartando a de peor resultado para os puntos do ranking Galego.
        <br>
        <br>
        <b>Slalom</b>
        <br>
        <br> 1. O percorrido é a elección da organización.
        <br> 2. A elección do material e libre por participante
        <br> 3. Se a organización o require deberase levar número na vela.
        <br> 4. Os participantes que estean fíra de competición, non poden invadir o campo de regatas.
        <br> 5. Darase o aviso acustico e visual ao comezo e final de cada manga, sendo preciso estar en terra e preparados os participantes da seguinte ronda para así axilizar a competición.
        <br>
        <br>
        <strong>Puntuación</strong>
        <br> Para elaborar as clasificacións utilizamos un sistema onde se sumarán o total de puntos obtidos en cada proba e en relación ao posto conseguido. Ao final do circuíto haberá un gañador por cada modalidade.
        <br>
    </p>
    <p class="es">
        En el Circuito de Windsurf Galego cualquier evento de sus dos modalidades puede ser convocada a lo largo del año siempre que los organizadores dela prueba consideren que las condiciones son las adecuadas. Nunca se convocarán dos pruebas dela misma modalidad en el mismo fin de semana.
        <br>
        <br> La duración de las pruebas podrá variar según estime al organización en función del numero de asistentes o de la previsión meteorológica, serán siempre en Fin de semana, a determinar por la organización si a uno o dos días.
        <br>
        <br> Se permite la participación de personas de fuera de Galicia, quedando estas fuera del ranking Gallego. La organización de cada evento podrá exigir llevar publicidad de patrocinadores de la prueba en la vela.
        <br>
        <br>
        <strong>Convocatoria</strong>
            Alerta 1 - En espera, de momento no navegamos...
        <br> Alerta 2 - Cada Lunes con parte prometedor para el fin de semana, nos ponemos en Alerta 2 y estaremos alerta a la evolución dela previsión.
        <br> Alerta 3 - Los Jueves y en Alerta 2 se comunica antes de las 22:00 si se procede a la convocatoria. La decisión final se comunica a través de redes sociales y sitio web.
        <br>
        <br>
        <strong>Formato de competición</strong>
        <br>
        <b>Olas</b>
        <br> Habrá un jefe de jueces y un mínimo de 3 jueces por prueba, siendo estos designados por la organización, pudiendo haber un máximo de 6 jueces, llegando a haber uno por participante y manga si la organización lo cree oportuno.
        <br>
        <br> 1. El tiempo y el numero de participantes por manga lo determinara la organización en función del numero de participantes, estableciendo un máximo de 6 participantes y un tiempo inicial de 15 minutos.
        <br> 2. Se hará una repesca después de las primeras rondas, para que todos puedan participar al menos en dos mangas y tengan mas posibilidades de llegar a cuartos de final.
        <br> 3. Se dará aviso acústico y visual del comienzo y final de cada manga, debiendo estar en tierra y preparados los participantes de la siguiente ronda para así agilizar la competición.
        <br>
        <b>*</b> Descartes: Solo habrá descartes en caso de celebrarse las 4 pruebas dentro del año actual, descartando la de peor resultado para los puntos del ranking Gallego.
        <br>
        <br>
        <b>Slalom</b>
        <br>
        <br> 1. El recorrido es a elección de la organización.
        <br> 2. La elección del material es libre por el participante.
        <br> 3. Si la organización lo requiere se deberá llevar numero en la vela.
        <br> 4. Los participantes que estén fuera decompetición no pueden invadir el campo de regatas .
        <br> 5. Se dará aviso acústico y visual del comienzo y final de cada manga, debiendo estar en tierra y preparados los participantes de la siguiente ronda para así agilizar la competición.
        <br>
        <br>
        <strong>Puntuación</strong>
        <br> Para elaborar las clasificaciones utilizamos un sistema donde se sumarán el total de puntos obtenidos en cada prueba y en relación al puesto conseguido. Al final del circuito habrá un ganador por cada modalidad.
    </p>
    <br>
    <h5 class="points_title">Wave</h5>
    <div class="points">
        <table>
            <tr>
                <td>1º</td>
                <td>10.000</td>
            </tr>
            <tr>
                <td>2º</td>
                <td>8.000</td>
            </tr>
            <tr>
                <td>3º</td>
                <td>7.000</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>4º</td>
                <td>6.000</td>
            </tr>
            <tr>
                <td>5º</td>
                <td>4.000</td>
            </tr>
            <tr>
                <td>9º</td>
                <td>2.000</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>17º</td>
                <td>500</td>
            </tr>
            <tr>
                <td>> 17º</td>
                <td>200</td>
            </tr>
        </table>
    </div>
    <br>
    <h5 class="points_title">Slalom</h5>
    <div class="points">
        <table>
            <tr>
                <td>1º</td>
                <td>0,7</td>
            </tr>
            <tr>
                <td>2º</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3º</td>
                <td>3</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>4º</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5º</td>
                <td>5</td>
            </tr>
            <tr>
                <td>6º</td>
                <td>6</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>...</td>
                <td>...</td>
            </tr>
        </table>
    </div>
</section>