<section id="rexistro" class="">
    <h3 class="gl">REXÍSTRATE</h3>
    <p class="gl"> As preinscricións pódense facer ata o Venres antes de cada proba ou de anteman para o circuito completo tendo prioridade no caso de chegar a cubrir o cupo máximo de participantes por proba.
        <br>A inscrición por cada modalidade é de <b>20€ Non federados e 15€ os federados.</b> O prezo para a inscrición ao circuito completo é de <b>40€ Non federados e 30€ os federados</b> por cada modalidade.</p>
    <h3 class="es">INSCRÍBETE</h3>
    <p class="es"> Las preinscripciones se pueden hacer hasta el Viernes antes de cada prueba, o previamente para todo el circuito teniendo prioridad en caso de llegar a cubrir el cupo maximo de participantes de cada prueba.
        <br>La inscripción por cada modalidad son de <b>20€ No federados y 15€ federados.</b> El precio para la inscripción al circuito completo es de <b>40€ No federados y 30€ federados</b> por cada modalidad.</p>
    <%- include('./../ts/components/forms/register-form/register-form.template.ejs'); %>
</section>