*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-family: Lato, Verdana, Geneva, sans-serif;
	font-size: 100%;
}

html, body{
	height: 100%;
	min-height: 100%;
	min-width: 100vw;
}

body{
	position: relative;
	background-color: #eeeeee;
	text-align: right;
	overflow-x: hidden; 
}

body > *{
	text-align: left;
}

section{
	color: #111835;
}

.active{
	display: block!important;
}

.hidden{
	display: none!important;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: inherit;
}

h1{
	font-size: 2em;
	letter-spacing: 2px;
	font-weight: 100;
	line-height: 1.5em;
	border-bottom: 1px solid #DCDBDB;
	padding-bottom: 0.8em;
	margin-bottom: 0.8em;
	color: #111835;
}

h1 > span{
	font-weight: 600;
}

h3{
	font-weight: 100;
	font-size: 0.8em;
	display: inline-block;
	padding: 6px 18px;
	color: #fff;
	background-color: #111835;
	margin-bottom: 1.5em; 
}

p{
	font-size: 0.85em;
	line-height: 2em;
}

body.gl .gl,
body.es .es{
	display: inline-block;
}

body.es .gl,
body.gl .es{
	display: none;
}