@media (orientation : landscape) and (min-width: 550px) {

	/** When css-grid is suported **/
	@supports (display: -webkit-grid) or
	          (display: -moz-grid) or
	          (display: grid) {
			
		
	}
	
	body{
		text-align: inherit;
		overflow-y: hidden;
	}
	
	#lateral-wrapper-d{
    height: 100vh;
    width: 38vw;
    overflow: hidden!important;
    position: fixed;
	}

	aside{
		display: inline-block;
    	position: relative;
   	 	width: 38vw;
   		height: 15vh;
	}

	div#carousel-container{
		height: 85vh;
		width: 38vw;
		border-right: 1px solid #DCDBDB;
		border-top: 1px solid #DCDBDB;
		float: none;
	}

	div#main-content{
		margin-left: 38vw;
		width: 62vw;
		border: 0;
		vertical-align: top;
		overflow: auto;
		height: 100%;
		padding: 10em 5em 2em 4.2em;
		position: relative;
		background-color: #fff;
	}
}

@media (min-width: 80em) {
	div#main-content > section{
		width: 90%;
	}	
}
