#intro .intro-logo{
    display: none;
} 

#intro .intro-logo .st1{
    fill: #fff;
}

#intro .intro-logo .st0{
    fill: #111835;
}

@media (orientation : landscape)  {

    #intro .intro-header{
        margin-bottom: 3em;
    }

    #intro .intro-logo{
        display: inline-block;
        width: 100px;
        margin-right: 25px;
        margin-top: 22px;
    }
    
    #intro h1{
        display: inline-block;
        border: 0;
        margin: 0;
        padding: 0;
        border-left: 1px solid #DCDBDB;
        padding-left: 30px;
    }
}