@import "nav-bar-link/nav-bar-link.css";

nav#nav-bar{
	display: none;
}

#menu-nav-bar ul{
    position: absolute;
    color: #e6e6e6;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#menu-nav-bar ul li{
    margin: 1.5em;
    padding: 0.6em;
    letter-spacing: 0.4em;
    font-size: 0.78em;
}

@media (orientation : landscape) and (min-width: 550px){
    nav#nav-bar{
        display: block;
        position: fixed;
        top: 2.5em;
        right: 2.5em;
    }
}