<menu id="menu">
    <div class="menu-action">
        <div class="nav-line">
            <svg viewBox="0 0 50 50">
                    <line id="nav-line-1" x1="12" x2="32" y1="16" y2="16" class="nav-line" stroke-width="3" stroke="#111835" stroke-linecap="round"></line>
                    <line id="nav-line-2" x1="12" x2="37" y1="24" y2="24" class="nav-line" stroke-width="3" stroke="#111835" stroke-linecap="round"></line>
                    <line id="nav-line-3" x1="12" x2="26" y1="32" y2="32" class="nav-line" stroke-width="3" stroke="#111835" stroke-linecap="round"></line>
            </svg>             
        </div>
        <div class="cross-line">
            <svg viewBox="0 0 50 50">
                <line x1="14" x2="36" y1="14" y2="36" class="cross-line" stroke-width="3" stroke="#111835" stroke-linecap="round"></line>
                <line x1="14" x2="36" y1="36" y2="14" class="cross-line" stroke-width="3" stroke="#111835" stroke-linecap="round"></line>
            </svg>
        </div>
    </div>
    <nav id="menu-nav-bar" class="calc-width-m">
        <%- include('../../nav-bar/nav-bar.template.ejs'); %>
    </nav>
</menu>