<menu id="menu">
    <svg viewbox="0 0 64 64">
        <line id="nav-line-1" x1="8" x2="56" y1="16" y2="16" class="nav-line" stroke-width="3" stroke="#9c9c9c" />
        <line id="nav-line-2" x1="8" x2="56" y1="32" y2="32" class="nav-line" stroke-width="3" stroke="#9c9c9c" />
        <line id="nav-line-3" x1="8" x2="40" y1="48" y2="48" class="nav-line" stroke-width="3" stroke="#9c9c9c" />
        <line x1="16" x2="48" y1="16" y2="48" class="cross-line" stroke-width="3" stroke="#9c9c9c" />
        <line x1="16" x2="48" y1="48" y2="16" class="cross-line" stroke-width="3" stroke="#9c9c9c" />
    </svg>
    <!-- <div id="menu-nav"> -->
    <!-- <%- include('../../nav-bar/nav-bar.template.ejs'); %> -->
    <!-- </div> -->
</menu>