
    <% if(loading === true){ %>
        <p class="info">Loading...</p>
    <% }else if(error === true){ %>
        <p class="info error gl">Un erro aconteceu. Inténtao de novo máis noutra ocasión</p>
        <p class="info error es">Ocurrió un error. Inténtalo de nuevo en otra ocasión</p>
    <% }else{ %>
        <input class="enrollform" type="text" name="nombre" placeholder="Nome e apelidos" required>
        <input class="enrollform" type="text" name="tlf" placeholder="Teléfono" required>
        <input class="enrollform" type="email" name="email" placeholder="Email" required>
        <div class="event-type-form">
            <h6>Modalidade: </h6>
            <div>
            <input type="radio" value="wave" id="waveradio" name="modal" checked>
            <label for="waveradio">Wave</label>
            </div>
            <div>
                <input type="radio" value="salom" id="slalomradio" name="modal">
                <label for="slalomradio">Slalom</label>
            </div>
        </div>
        <div class="event-type-form">
            <input type="radio" value="todo el circuito" id="circuitoradio" name="grupo" checked>
            <label for="circuitoradio">Circuito completo</label>
        </div>
        <div class="event-type-form">
            <% data.forEach(function(event){ %>
                <div class="event-card">
                    <input type="radio" value="<%=event.place%>" id="<%=event.place%>radio" name="grupo">
                    <label for="<%=event.place%>radio"><%=event.place%></label>
                </div>
            <% }) %>
        </div>
        <h6><input type="checkbox" required value="true" id=lopd name="lopd"><label for="lopd">Acepto os <a href="lopd.html" target="_blank" style="text-decoration: underline;"> términos e condicións de uso</a></label></h6>
        <button type="submit" id="form-button">ENVIAR</button>
        <p id="formComments"></p>
    <%}%>
