#enroll-form{
    margin: 2.5em 0em;    
    font-size: 0.8em;
}

#enroll-form p.info{
    margin-top: 3em;
    font-weight: 600;
}

#enroll-form p.info.error{
    color: #c31515;
}

#enroll-form button{
    text-align: center;
    width: 100%;
    border: 0;
    border: 1px solid #2f469e;
    border-radius: 0;
    margin: 3.5em 0 0 0;
    padding: 1em 0;
    color: #2f469e;
    cursor: pointer;
    background-color: inherit;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#enroll-form button.error{
    background-color: #ff445d;
    color: white;
    border: 1px solid #47f9ff;
    cursor: none;
}

#enroll-form button.sending{
    background-color: black;
    color: white;
    border: 1px solid #2f469e;
    cursor: none;
}

#enroll-form button.sent{
    background-color: #84eab7!important;
    color: #460729!important;
    border: 0!important;
    cursor: inherit;
}

input[type="radio"],
input[type="checkbox"]{
    vertical-align: middle;
}

input[type="text"],
input[type="email"],
input[type="number"]{
    border: none;
    padding: 10px 0;
    margin: 25px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #2f469e;
    background: none;
}

.event-type-form {
    margin: 2em 0;
}

.event-type-form input:checked,
.event-type-form input:checked+label{
    font-weight: bold;
    cursor: default;
}

.event-type-form input{
    cursor: pointer;
}

.event-type-form label {
    padding-left: 10px;
    vertical-align: middle;
    color: #2f469e;
    cursor: pointer;
}

.event-type-form label:hover,
.event-type-form label:focus {
    color: lightgray;
}

.event-type-form > h6{
    margin: 3em 0 1.5em 0;
}

.event-type-form > div{
    padding: 0.5em 0.5em 0.5em 1em;
    width: 49%;
    display: inline-block;
}

@media (orientation : landscape) and (min-width: 550px){
    #enroll-form{
        margin: 3.5em 0em; 
        border: 1px solid #DCDBDB;
        background-color: #fff;
        padding: 2.5em;
        padding-top: 0;
    }

    .event-type-form > div{
        width: 33%;
    }
}